@page "/inventories"
@attribute [Authorize]
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject NavigationManager NavigationManager

<h3>Inventory List (inventories)</h3>
<br/>

<ViewInventoriesComponent DisplayResult="true" OnSearchInventories="OnSearchInventories" OnSelectInventory="OnSelectInventory"></ViewInventoriesComponent>
<br/>
@if(_inventories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inventory in this._inventories)
            {
                <InventoryItemComponent Inventory="inventory"></InventoryItemComponent>
            }
        </tbody>
    </table>
}
<br/>
<button type="button" class="btn btn-primary" @onclick="AddInventory">Add Inventory</button>

@code 
{
    private IEnumerable<Inventory> _inventories;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        this._inventories = await ViewInventoriesByNameUseCase.ExecuteAsync();
    }

    private void OnSearchInventories(List<Inventory> inventories)
    {
        _inventories = inventories;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addInventory");
    }

    private void EditInventory(int id)
    {
        NavigationManager.NavigateTo($"/editInventory/{id}");
    }

    private void OnSelectInventory(Inventory inventory)
    {
        //await OnSelectInventoy.InvokeAsync(inventory);
        //_inventory = inventory;
    }

}
